#video{
	.video {
		position: relative;
		padding-bottom: 51.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.wrapper{
		border: 1px solid $element-color;
		padding: 25px;
		@include box-shadow(0, 2px, 2px, #ccc);
		margin: 20px 0;
	}
}
.box-tooltip {
	text-transform: uppercase;
	background: $client-color-ng;
	color: $text-color;
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin: 0 5px;
}
.box-tooltip .tooltip {
	background: $client-color-ng;
	bottom: 100%;
	color: $text-color;
	border: 2px solid $element-color;
	display: block;
	left: -25px;
	margin-bottom: 15px;
	opacity: 0;
	padding: 10px;
	position: absolute;
	width: max-content;
	border-radius: 8px;
	@include box-shadow(0, 2px, 2px, #ccc)
	@include transition (all, 0.5s, ease)
}
/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.box-tooltip .tooltip:before {
	bottom: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
	@include transition (all, 0.5s, ease)

}
/* CSS Triangles - see Trevor's post */
.box-tooltip .tooltip:after {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-top: solid $element-color 10px;
	bottom: -10px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	width: 0;
}
.box-tooltip:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
}
